<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
        {% if player1['score'] >= match['win_number'] or player2['score'] >= match['win_number'] %}
            {% set matchEnded = true %}
        {% endif %}

        {% include '/includes/navbar.html.twig' %}

        <div class="container">


          <h1>{{ game }}</h1>
          <hr>

          {% include '/includes/winner_message.html.twig'%}
          <br>
          <div class="row">

            <div class="col s2">
              <h4>{{player1['name']}}</h4>
              <h4>Score: {{player1['score']}}</h4>
            </div>

            <div class="col s8">
              {% if match['win_number'] == -1 %}
                <div id="container">
                  <div class="field" style="left: 380px; top: 195px;">
                    <a href="/play_pVc/rock">
                        <div class="rock_img inline tooltipped" data-position="bottom" data-tooltip="Rock"></div>
                    </a>
                  </div>
                  <div class="field" style="left: 305px; top: 351px;">
                    <a href="/play_pVc/paper">
                        <div class="paper_img inline tooltipped" data-position="bottom" data-tooltip="Paper"></div>
                    </a>
                  </div>
                  <div class="field" style="left: 135px; top: 390px;">
                    <a href="/play_pVc/scissors">
                        <div class="scissors_img inline tooltipped" data-position="bottom" data-tooltip="Scissors"></div>
                    </a>
                  </div>
                  <div class="field" style="left: 0px; top: 282px;">
                    <a href="/play_pVc/fire">
                        <div class="fire_img inline tooltipped" data-position="bottom" data-tooltip="Fire"></div>
                    </a>
                  </div>
                  <div class="field" style="left: 0px; top: 108px;">
                    <a href="/play_pVc/air">
                        <div class="air_img inline tooltipped" data-position="bottom" data-tooltip="Air"></div>
                    </a>
                  </div>
                  <div class="field" style="left: 135px; top: 0px;">
                    <a href="/play_pVc/water">
                        <div class="water_img inline tooltipped" data-position="bottom" data-tooltip="Water"></div>
                    </a>
                  </div>
                  <div class="field" style="left: 305px; top: 39px;">
                    <a href="/play_pVc/sponge">
                        <div class="sponge_img inline tooltipped" data-position="bottom" data-tooltip="Sponge"></div>
                    </a>
                  </div>
                </div>
              {% else %}
              <div id="container">
                <div class="field" style="left: 380px; top: 195px;">
                  <a href="/match/play_pVc/rock">
                      <div class="rock_img inline tooltipped" data-position="bottom" data-tooltip="Rock"></div>
                  </a>
                </div>
                <div class="field" style="left: 305px; top: 351px;">
                  <a href="/match/play_pVc/paper">
                      <div class="paper_img inline tooltipped" data-position="bottom" data-tooltip="Paper"></div>
                  </a>
                </div>
                <div class="field" style="left: 135px; top: 390px;">
                  <a href="/match/play_pVc/scissors">
                      <div class="scissors_img inline tooltipped" data-position="bottom" data-tooltip="Scissors"></div>
                  </a>
                </div>
                <div class="field" style="left: 0px; top: 282px;">
                  <a href="/match/play_pVc/fire">
                      <div class="fire_img inline tooltipped" data-position="bottom" data-tooltip="Fire"></div>
                  </a>
                </div>
                <div class="field" style="left: 0px; top: 108px;">
                  <a href="/match/play_pVc/air">
                      <div class="air_img inline tooltipped" data-position="bottom" data-tooltip="Air"></div>
                  </a>
                </div>
                <div class="field" style="left: 135px; top: 0px;">
                  <a href="/match/play_pVc/water">
                      <div class="water_img inline tooltipped" data-position="bottom" data-tooltip="Water"></div>
                  </a>
                </div>
                <div class="field" style="left: 305px; top: 39px;">
                  <a href="/match/play_pVc/sponge">
                      <div class="sponge_img inline tooltipped" data-position="bottom" data-tooltip="Sponge"></div>
                  </a>
                </div>
              </div>
              {% endif %}
            </div>

            <div class="col s2">
              <h4>{{player2['name']}}</h4>
              <h4>Score: {{player2['score']}}</h4>
            </div>

          </div>

          <br>


          {% if matchOver %}

            <div class="row">
              <div class="col s6 offset-s3">
                <div class="card-panel {{ matchOver.color }} darken-1">
                  <div class="card-content white-text">
                    <span class="card-title center">{{ matchOver.text }}</span>
                    <div class="card-action">
                      {% if matchOver.link1 %}
                        <a class='left' href="{{ matchOver.link1.link }}">{{ matchOver.link1.text }}</a>
                      {% endif %}
                      {% if matchOver.link2 %}
                        <a class='right' href="{{ matchOver.link2.link }}">{{ matchOver.link2.text }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% else %}
            <div style="clear:both"></div>
            <br>
            <br>
            <a href="/main_menu" class="btn grey center">QUIT</a>

          {% endif %}
        </div>
    </body>
</html>
