<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
        {% if player1['score'] >= match['win_number'] or player2['score'] >= match['win_number'] %}
            {% set matchEnded = true %}
        {% endif %}

        {% include '/includes/navbar.html.twig' %}

        <div class="container">


          <h1>{{ game }}</h1>
          <hr>

          <div class="row">

            <div class="col s5">
              <h4>{{player1['name']}}</h4>
              <h4>Score: {{player1['score']}}</h4>
            </div>

            <div class="col s5 offset-s2">
              <h4>{{player2['name']}}</h4>
              <h4>Score: {{player2['score']}}</h4>
            </div>

          </div>

          <br>

          {% include '/includes/winner_message.html.twig'%}
          <br>

          {% if matchOver %}

            <div class="row">
              <div class="col s6 offset-s3">
                <div class="card {{ matchOver.color }} darken-1">
                  <div class="card-content white-text">
                    <span class="card-title center">{{ matchOver.text }}</span>
                    <div class="card-action">
                      {% if matchOver.link1 %}
                        <a class='left' href="{{ matchOver.link1.link }}">{{ matchOver.link1.text }}</a>
                      {% endif %}
                      {% if matchOver.link2 %}
                        <a class='right' href="{{ matchOver.link2.link }}">{{ matchOver.link2.text }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% else %}

            {% if match['win_number'] == -1 %}
            <a href="/play_pVc/rock">
                <div class="rock_img inline tooltipped" data-position="bottom" data-tooltip="Rock" data-delay="25"></div>
            </a>

            <a href="/play_pVc/paper">
                <div class="paper_img inline tooltipped" data-position="bottom" data-tooltip="Paper" data-delay="25"></div>
            </a>

            <a href="/play_pVc/scissors">
                <div class="scissors_img inline tooltipped" data-position="bottom" data-tooltip="Scissors" data-delay="25"></div>
            </a>

            <a href="/play_pVc/fire">
                <div class="fire_img inline tooltipped" data-position="bottom" data-tooltip="Fire" data-delay="25"></div>
            </a>

            <a href="/play_pVc/air">
                <div class="air_img inline tooltipped" data-position="bottom" data-tooltip="Air" data-delay="25"></div>
            </a>

            <a href="/play_pVc/water">
                <div class="water_img inline tooltipped" data-position="bottom" data-tooltip="Water" data-delay="25"></div>
            </a>

            <a href="/play_pVc/sponge">
                <div class="sponge_img inline tooltipped" data-position="bottom" data-tooltip="Sponge" data-delay="25"></div>
            </a>

            <div style="clear:both"></div>
              <br>
              <br>
              <a href="/main_menu" class="btn grey center">QUIT</a>

            {% else %}
            <a href="/match/play_pVc/rock">
                <div class="rock_img inline tooltipped" data-position="bottom" data-tooltip="Rock" data-delay="25"></div>
            </a>

            <a href="/match/play_pVc/paper">
                <div class="paper_img inline tooltipped" data-position="bottom" data-tooltip="Paper" data-delay="25"></div>
            </a>

            <a href="/match/play_pVc/scissors">
                <div class="scissors_img inline tooltipped" data-position="bottom" data-tooltip="Scissors" data-delay="25"></div>
            </a>

            <a href="/match/play_pVc/fire">
                <div class="fire_img inline tooltipped" data-position="bottom" data-tooltip="Fire" data-delay="25"></div>
            </a>

            <a href="/match/play_pVc/air">
                <div class="air_img inline tooltipped" data-position="bottom" data-tooltip="Air" data-delay="25"></div>
            </a>

            <a href="/match/play_pVc/water">
                <div class="water_img inline tooltipped" data-position="bottom" data-tooltip="Water" data-delay="25"></div>
            </a>

            <a href="/match/play_pVc/sponge">
                <div class="sponge_img inline tooltipped" data-position="bottom" data-tooltip="Sponge" data-delay="25"></div>
            </a>
            <div style="clear:both"></div>
              <br>
              <br>
              <a href="/main_menu" class="btn grey center">QUIT</a>
            {% endif %}

          {% endif %}
        </div>
    </body>
</html>
