<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
        {% if player1['score'] >= match['win_number'] or player2['score'] >= match['win_number'] %}
            {% set matchEnded = true %}
        {% endif %}

        {% include '/includes/navbar.html.twig' %}

        <div class="container">


          <h1>Game Round</h1>
          <hr>

          <div class="row">

            <div class="col s5">
              <h4>{{player1['name']}}</h4>
              <h4>Score: {{player1['score']}}</h4>
            </div>

            <div class="col s5 offset-s2">
              <h4>{{player2['name']}}</h4>
              <h4>Score: {{player2['score']}}</h4>
            </div>

          </div>

          <br>

          {% include '/includes/winner_message.html.twig'%}
          <br>

          {% if matchOver %}

            <div class="row">
              <div class="col s6 offset-s3">
                <div class="card {{ matchOver.color }} darken-1">
                  <div class="card-content white-text">
                    <span class="card-title center">{{ matchOver.text }}</span>
                    <div class="card-action">
                      {% if matchOver.link1 %}
                        <a class='left' href="{{ matchOver.link1.link }}">{{ matchOver.link1.text }}</a>
                      {% endif %}
                      {% if matchOver.link2 %}
                        <a class='right' href="{{ matchOver.link2.link }}">{{ matchOver.link2.text }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% else %}

            {% if match['win_number'] == -1 %}
            <a href="/play_pVc/rock" data-tooltip="Rock"><div class="rock_img inline"></div></a>
            <a href="/play_pVc/paper" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Paper"><div class="paper_img inline"></div></a>
            <a href="/play_pVc/scissors" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Scissors"><div class="scissors_img inline"></div></a>
            <a href="/play_pVc/air" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Air"><div class="air_img inline"></div></a>
            <a href="/play_pVc/fire" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Fire"><div class="fire_img inline"></div></a>
            <a href="/play_pVc/water" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Water"><div class="water_img inline"></div></a>
            <a href="/play_pVc/sponge" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Sponge"><div class="sponge_img inline"></div></a>
            <div style="clear:both"></div>
              <br>
              <br>
              <a href="/main_menu" class="btn btn-info center">QUIT</a>
            {% else %}
            <a href="/match/play_pVc/rock" data-tooltip="Rock"><div class="rock_img inline"></div></a>
            <a href="/match/play_pVc/paper" data-tooltip="Paper"><div class="paper_img inline"></div></a>
            <a href="/match/play_pVc/scissors" data-tooltip="Scissors"><div class="scissors_img inline"></div></a>
            <a href="/match/play_pVc/air" data-tooltip="Air"><div class="air_img inline"></div></a>
            <a href="/match/play_pVc/fire" data-tooltip="Fire"><div class="fire_img inline"></div></a>
            <a href="/match/play_pVc/water" data-tooltip="Water"><div class="water_img inline"></div></a>
            <a href="/match/play_pVc/sponge" data-tooltip="Sponge"><div class="sponge_img inline"></div></a>
            <div style="clear:both"></div>
            {% endif %}

          {% endif %}
        </div>
    </body>
</html>
