<html>
  <head>
    {% include './includes/header.html.twig' %}
    {% include './includes/googleChart.html.twig' %}
  </head>

  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="row">

      <div class="col s3 left">
        <h3>Stats</h3>
        <a class="waves-effect waves-teal btn-flat" id='player_stats'>Player Stats</a>
        <a class="waves-effect waves-teal btn-flat" id='computer_stats'>Computer Stats</a>
        <a class="waves-effect waves-teal btn-flat">Button</a>

      </div>

      <div class="col s9 right">

        <div id="player">
          <h1 class="center">Player: {{ player1.name }}</h1>
          <h3 class="center">Total Hands: {{ userStats.total }}</h3>
          <div class="row">
            <div class="col s4">
              <h3>Wins:  {{ userStats.wins }}</h3>
            </div>
            <div class="col s4">
              <h3>Losses: {{ userStats.losses }}</h3>
            </div>
            <div class="col s4">
              <h3>Ties:  {{ userStats.ties }}</h3>
            </div>
          </div>
          <div id="chart_div_player"></div>
        </div>

        <div id="computer">
          <h1 class="center">HAL (The Computer)</h1>
          <h3 class="center">Total Hands: {{ computerStats.total }}</h3>
          <div class="row">
            <div class="col s4">
              <h3>Wins:  {{ computerStats.wins }}</h3>
            </div>
            <div class="col s4">
              <h3>Losses: {{ computerStats.losses }}</h3>
            </div>
            <div class="col s4">
              <h3>Ties:  {{ computerStats.ties }}</h3>
            </div>
          </div>
          <div id="chart_div_computer"></div>
        </div>

      </div>

    </div>

  </body>
</html>
